<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{{ setting.docTitle }} - {{ setting.nowTime }}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="Description">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/docsify@4/lib/themes/vue.css">
</head>

<body>
	<div id="app">加载中</div>
	<script>
		window.$docsify = {
			// 文档标题
			name: '{{ setting.docTitle }}',
			repo: '',
			// 封面页
			coverpage: false,
			// 加载自定义侧边栏
			loadSidebar: true,
			// 切换页面后是否自动跳转到页面顶部
			auto2top: false,
			// 可配置最大支持渲染的标题层级
			maxLevel: 4,
			// 设置生成目录的最大层级开启这个功能
			subMaxLevel: 3,
			requestHeaders: {
				'cache-control': 'max-age=600',
			},
			// 搜索
			search: 'auto'
		}
	</script>
	<!-- Docsify v4 -->
	<script src="//cdn.jsdelivr.net/npm/docsify@4"></script>
	<script src="//cdn.jsdelivr.net/npm/prismjs@1/components/prism-bash.min.js"></script>
	<script src="//cdn.jsdelivr.net/npm/prismjs@1/components/prism-sql.min.js"></script>
</body>

</html>